<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletUsuarios</servlet-name>
        <servlet-class>Controlador.ServletUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistroVid</servlet-name>
        <servlet-class>Controlador.ServletRegistroVid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListadoVid</servlet-name>
        <servlet-class>Controlador.ServletListadoVid</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistroVid</servlet-name>
        <url-pattern>/RegistroVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListadoVid</servlet-name>
        <url-pattern>/ListadoVideos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
